.drag_box {
    position: relative;
    width: 1200px;
    height: 900px;
    display: inline-block;
    z-index: 1;
    overflow: hidden;
}
.drag_point {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    display: block;
    background-color: #f00;
    top: -5px;
    left: -5px;
    z-index: 98;
    cursor: pointer;
}
.drag_tip {
    position: absolute;
    width: 55px;
    height: 30px;
    border-radius: 5px;
    font: bold 20px/30px "Microsoft Himalaya";
    color: #ff0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}